<!-- footer start -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="footer_widget">
                        <img src="assets/img/logo-2.jpeg" width="50%" alt="">
                        <br><br>
                        <h3 class="footer_title">
                            Prestations De Service
                        </h3>
                        <p class="sub_text">Estime que l'esprit tempérament dit aussi Adieus qui dirige heureusement
                            l'estime.</p>
                    </div>
                </div>
                <div class="col-xl-5 col-md-5 offset-xl-1">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contactez moi
                        </h3>
                        <ul>
                            <li><a href="#">contact@yadjia.com
                                </a></li>
                            <li><a href="#">+225 2722 466 202
                                </a></li>
                            <li><a href="#">Abidjan, Cocody 2 plateaux rue des jardins, Archidek</a></li>
                        </ul>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class=" fa fa-facebook "></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/@yadjiagospel2295">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-7 col-md-6">
                    <p class="copy_right">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        {{annee}} All rights reserved | Produit <i
                            class="fa fa-heart-o" aria-hidden="true"> </i> par <a href="#"
                            target="_blank">Capital Consulting</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="footer_links">
                        <ul>
                            <li><a routerLink="/Accueil" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
                            <li><a routerLink="/Apropos" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">à propos</a></li>
                            <li><a href="/pistes">des pistes</a></li>
                            <li><a routerLink="/Contact" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">contactds</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer end  -->