 <!-- header-start -->
 <header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a routerLink="/Accueil" routerLinkActive="active"
                                [routerLinkActiveOptions]="{ exact: true }">
                                    <img src="assets/img/logo-2.jpeg" width="50%" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" routerLink="/Accueil" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
                                        <li><a routerLink="/Apropos" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{ exact: true }">À propos</a></li>
                                        <li><a routerLink="" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{ exact: true }">Potfolio</a></li>
                                        <li><a routerLink="/pistes" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{ exact: true }">des pistes</a></li>
                                        <li><a routerLink="/Contact" routerLinkActive="active"
                                            [routerLinkActiveOptions]="{ exact: true }">Contacts</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="social_icon text-right">
                                <ul>
                                    <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
                                    <li><a href="https://www.youtube.com/@yadjiagospel2295"> <i class="fa fa-youtube-play"></i> </a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->